.show_news {
  position: relative;
  // color: transparent;
}
.show_news:hover {
  color: transparent; /* 懸停時隱藏原本文字 */
}
.show_news:hover::before {
  content: 'new';
  display: block;
  position: absolute; /* 確保 "new" 文字絕對定位 */
  left: 0;
  color: green;
  top: 0; /* 根據需要調整位置 */
}
// .show_news:hover::after {
//   color: green;
//   content: 'new';
//   position: absolute; 
//   width: auto;
//   height: auto; 
//   left: 0;
//   right: auto;
// }